#gameboard{
	height: 100%;
	display: inline-block;
}

#gameBoardBackgroundLayer
{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#gameBoardCanvas
{
    position: absolute;
    z-index: 1;
}

#gameBoardTacticalCanvas
{
    position: absolute;
    z-index: 100;
}

.gameSquareGoalkeeper
{
    height: 10.82%;
    width: 22.69%;
    margin-left: 38.655%;
    background-color: rgba(233, 233, 233, 0.0);
    clear: both;
    margin-top: 0.016%;
    padding-top: 0.016%;
    position: relative;
    overflow: hidden;
}

.gameSquare
{
    height: 18%;
    position: relative;
    overflow: hidden;
}

.gameSquareLeft
{
    background-color: rgba(255, 200, 200, 0.0);
    width: 50%;
    float: left;
}
 
.gameSquareRight
{
    background-color: rgba(0, 255, 0, 0.0); 
    float: right;
    width: 50%;
}

.gameSquareActive
{
    background-color: rgba(0, 102, 255, 0.2);
}

.gameSquareHover
{
    background-color: rgba(0, 102, 255, 0.5);
}

.gameSquareActiveStrong
{
    background-color: rgba(0, 255, 0, 0.2);
}

.gameSquareHoverStrong
{
    background-color: rgba(0, 255, 0, 0.5);
}

.gameSquareFaceOff
{
    position: absolute;
    height: 19.82%;
    width: 22.69%;
    background-color: #f00;
    left: 50px;
    z-index: 120;
    visibility: hidden;
}

#puck 
{
    background-color: Black;
    height: 3%;
    width: 4.8%;
    position: absolute;
    left: 47.5%;
    top: 48.5%;
    z-index: 100;
    border-radius: 10000px;
    visibility: hidden;
}