div.placeholder {
	position: relative;
	display: inline-block;
	color: #666;
	font-weight: bold;
	text-align: center;
}

div.card {
	position: absolute;
}

div.draggable {}

div.tacticCard {
	width: 18.5%;
	display: inline-block;
	position: relative;
	padding: 2px;
	margin: auto;
	margin: 0 2px 2px 0;
	overflow: hidden;
}

div.teamLogo {
	position: relative;
}

div.teamLogo img {
	height: 100%;
	position: absolute;
	left: 0;
}

div.playerBio {
	width: 100%;
}

div.playerBio img {
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

div.tactic {
	width: 100%;
	position: relative;
}

div.tactic img {
	width: 100%;
}

div.playerName {
	position: absolute;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.tacticName {
	position: absolute;
	left: 4px;
	bottom: 2px;
	float: left;
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.attr1 {
	position: absolute;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.attr2 {
	position: absolute;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.playerPos {
	position: absolute;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.diff {
	position: absolute;
	right: 2px;
	top: 2px;
	float: right;
	font-size: 13pt;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}