html, body {
	width: 100%;
	height: 100%;
	background-color: #333;
	margin: 0;
	color: #fff;
	font-family: "Century Gothic" ,Verdana,Arial,sans-serif;
}

.column {
	width: 33%;
	height: 100%;
	position: relative;
}

#left {
	float: left;
}

#left > .panel {
	margin-left: 0;
}

#center {
	width: 600px;
	margin: 0;
	float: left;
}

#right {
	float: right;
	height: 100%;
}

#right > .panel {
	margin-right: 0;
}

#score {
	text-align: center;
	font-family: "Century Gothic" , Verdana;
}

#score .goals {
	font-size: 50pt;
}
#console, #playerBench, #oppBench {
	font-size: 10pt;
	width: 90%;
}

#oppLine1, #oppLine2, #line1, #line2 {
	text-align: center;
}

#console {
	height: 33%;
}

#actions {
	margin-bottom: 20px;
	overflow-y: hidden;
	font-size: 11pt;
	height: 80%;
}

#actions .action {
	margin-bottom: 2px;
}

#actions .action:before {
	content: "> ";
}

#actions .sys {
	color: #ff6;
	font-weight: bold;
}

#actions .temp {
	color: #ccc;
	font-style: italic;
}

#chat {
	height: 33%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 40px;
}

#chatMessages {
	margin-bottom: 20px;
	overflow-y: hidden;
	font-size: 11pt;
	height: 100%;
}

#chatMessages .content div {
	margin-bottom: 2px;
}

#chatMessages .name {
	font-weight: bold;
}

#chatMessages .name:after {
	content: ": ";
}

#chatMessage {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#chat input {
	background-color: #111;
	border: 1px solid #666;
	display: inline-block;
	line-height: 200%;
	vertical-align: bottom;
	color: #fff;
}

#chatInput {
	width: 80%;
	padding: 0;
}

#chatSubmit {
	float: right;
	width: 15%;
}

#chatSubmit:hover {
	background-color: #333;
}

.panel {
	background-color: #111;
	border: 10px solid #222;
	border-radius: 10px;
	padding: 5px;
	margin: 10px;
}

.panel .tab {
	padding: 5px 0;
}

.panel .line {
	width: 100%;
}

img.board {
	width: 100%;
}

.tacticCard {
	background-color: #39f;
}

.centerBlock {
	margin: 0 auto;
}

.nano .content {
	padding: 5px;
}
.nano .pane {
	background: #444;
}
.nano .pane .slider {
	background: #111;
	border: 1px 0 solid #444;
}
#end-game {
	text-align: center;
}